img {
  cursor: pointer;
}

.divDashboardContainer {
  height: 100%;
  width: 100%;
}

.divDashboardBody {
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.divDashboardContent {
  height: 100%;
  width: 80%;
}

.divDashboardMain {
  height: 100%;
  width: 100%;
  background-color: #d2d2d2;
}
