.divEditContainer {
  height: 100%;
  width: 100%;
}

.divEditContainer :global(.public-DraftEditor-content) {
  max-height: 36.7vh;
  overflow: auto;
}

.divEditContainer > .divToolBar {
  height: 10%;
  width: 100%;
  display: flex;
}

.divToolBar > div {
  height: 100%;
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.divToolBar > div:hover {
  background: #888;
}

.divEditContainer > div {
  border: solid 1px #e3e3e3;
  border-radius: 3px;
}

.divEditContainer > div:nth-child(1) {
  height: 90%;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: inset 0px 1px 8px -3px #ababab;
}

.divEditContainer > div:nth-child(2) {
  height: 10%;
  width: 100%;
}

.divEditContainer > div:nth-child(2) > div {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divEditContainer > div:nth-child(2) > div > .divUploadImg {
  height: 100%;
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divUploadImg:hover {
  background: #ededed;
}

.divUploadImg > label {
  height: 100%;
  width: 100%;
}

.divUploadImg > label > img {
  height: 80%;
  width: 100%;
  margin-top: 4px;
}

.divUploadImg > input {
  display: none;
}

.divEditContainer > div:nth-child(2) > div > div {
  height: 100%;
  display: flex;
}

.divEditContainer > div:nth-child(2) > div > div > button {
  border: none;
  background: white;
  display: flex;
  justify-content: center;
}

.divEditContainer > div:nth-child(2) > div > div > button:hover {
  cursor: pointer;
  background: #ededed;
}

.headlineButtonWrapper {
  height: 100%;
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headlineButtonWrapper > button {
  width: 100%;
}

.headlineButton {
  font-size: 18px;
  height: 100%;
}
