img {
  height: 55%;
}

.divHeaderContainer {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #039be5;
}

.divHeaderNavigator {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 5px;
}

.divHeaderNavigator > img {
  margin: 5px;
}

.headerIcon {
  height: 65%;
}

.homeIcon {
  height: 40%;
}

.divHeaderNavigator > h4 {
  margin: 0;
  color: white;
}

.divHeaderNavigator > h4 {
  margin-left: 5px;
  margin-right: 5px;
}

.divHeaderNotifications {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.divHeaderNotifications > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divHeaderNotifications > .divNotification {
  width: 25%;
  margin-right: 5px;
}

.divNotification > .divCount {
  height: 15px;
  width: 17px;
  border-radius: 3px;
  background: #1a89ca;
  position: absolute;
  top: 1%;
  right: 18%;
  box-shadow: -4px 7px 7px 0px rgba(221, 223, 225, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: white;
  cursor: pointer;
}

.divHeaderNotifications > .divName {
  width: 65%;
  height: 100%;
}

.divName > h4 {
  margin: 0;
  color: white;
}

.divHeaderNotifications > .divNotification,
.divHeaderNotifications > .divSettings,
.divHeaderNotifications > .divLogout {
  width: 11.66%;
  height: 100%;
}
