html,
body,
section {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.divLoginContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.divLoginContainer > .divModalContainer,
.divLoginContainer > .divLogoContainer,
.divLoginContainer > .divSykesLogoContainer {
  z-index: 1;
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divLogoContainer > img {
  margin-top: auto;
  height: 20%;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 30px;
}

.divModalContainer > .divLoginModal {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgb(49, 48, 48, 0.5);
}

.divLoginModal > img {
  width: 50%;
  height: 95%;
}

.divLoginModal > .divLoginModalHeader {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.divLoginModalHeader > img {
  position: absolute;
  height: 8%;
  top: 30%;
}

.divLoginModal > .divLoginForm {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divLoginForm > input {
  height: 15%;
  width: 75%;
  border-radius: 30px;
  border: none;
  text-indent: 20%;
  color: #828282;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.divLoginForm > input:first-child {
  margin: 5px;
  background: url(../assets/Username.svg) no-repeat;
  background-size: 8%;
  background-color: rgba(250, 250, 250, 1);
  background-position: 15px;
}

.divLoginForm > input:not(first-child) {
  margin: 5px;
  background: url(../assets/Password.svg) no-repeat;
  background-size: 8%;
  background-color: rgba(250, 250, 250, 1);
  background-position: 15px;
}

.divLoginForm > input:hover {
  border: 1px aquamarine solid;
}

.divLoginForm > button {
  height: 15%;
  width: 75%;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #039be5;
  font-size: 15px;
  cursor: pointer;
}

.divSykesLogoContainer > img {
  height: 10%;
  margin-left: auto;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: 30px;
}
