.divContainer {
    height: 100%;
    width: 100%;
}

.divBody {
    height: 94%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divBody>.divFirstRow, .divBody>.divSecondRow {
    height: 50%;
    width: 100%;
}

.divFirstRow{
    display: flex;
}
