.divTasksList {
  width: 99%;
  margin: 0.5%;
}

.divTasksList > .divHeader {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-items: center;
  border-bottom: solid #039be5 1px;
  background: #ffffff;
}

.divHeader > img:first-child {
  margin-left: 5px;
  height: 30px;
}

.divHeader > h4 {
  margin: 10px;
}

.collapsible {
  margin-right: 5px;
  margin-left: auto;
  width: 20px;
  cursor: pointer;
}

.divTasksList > .divBody {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-items: center;
  background: #ffffff;
}

.divBody > .divFirst {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divBody > .divSecond {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.divSecond {
  display: flex;
  flex-direction: column;
}

.divSecond > .divActions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divActions > img {
  height: 30px;
  margin: 15px;
}

.checked {
  margin-left: auto !important;
}

.garbage {
  margin-right: 20px !important;
}

.divSecond > .divNextCurrentTask {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divNextCurrentTask > img {
  height: 220px;
  width: 90%;
}
