.divTaskBody {
    width: 100%;
    height: 100%;
    display: flex;
}

.divBody>.divFirstRow {
    width: 50%;
}

.divPrevious, .divNext {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPrevious>img, .divNext>img {
    height: 50px;
}

.divCurrentTask {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCurrentTask>img {
    height: 45vh;
    width: 100%;
}